@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.main {
  width: 100%;
  height: auto;
}

.banner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.banner-wrapper img {
  width: 100%;
  height: 100%;
}
.banner-wrapper .banner-slogan {
  transition: all ease-in-out 1s;
  opacity: 0;
  width: auto;
  text-align: right;
  font-size: 70px;
  font-family: "Inter", sans-serif;
  position: absolute;
  top: 40%;
  left: 70%;
  font-weight: 200 !important;
  transform: translate(-50%, -50%);
  color: white;
  background-color: transparent;
}
.banner-wrapper .banner-slogan span {
  font-weight: 600;
  font-size: 80px;
  background: linear-gradient(to top, transparent, white);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.banner-wrapper .banner-slogan .banner-slogan-en {
  display: none;
}

.clients-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  font-family: "Inter", sans-serif;
}
.clients-wrapper .clients-heading-wrapper {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.clients-wrapper .clients-heading-wrapper .clients-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.clients-wrapper .clients-body-wrapper {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-wrapper .clients-body-wrapper .clints-body {
  display: inline-flex;
  list-style-type: none;
}

@media screen and (max-width: 800px) {
  .banner-wrapper img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .banner-slogan {
    top: 40% !important;
    left: 50% !important;
    text-align: right !important;
    font-size: 40px !important;
  }
  .banner-slogan span {
    font-size: 50px !important;
  }
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

* {
  font-family: "Inter", sans-serif;
}

.header {
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0px;
  background-color: transparent;
  transition: all ease-in-out 0.2s;
  z-index: 99;
}

.inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
}
.inner-header .logo-wrapper {
  width: 130px;
  height: 100%;
}
.inner-header .logo-wrapper img {
  transform: scale(1);
  width: 100%;
  height: 100%;
  cursor: hand;
}
.inner-header ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  width: auto;
  height: 100%;
}
.inner-header ul li {
  height: 100%;
  width: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.inner-header ul li.active {
  background-color: rgba(0, 47, 108, 0.12);
  border-bottom: 1px solid #002f6c;
}
.inner-header ul li:hover {
  background-color: rgba(0, 47, 108, 0.12);
  border-bottom: 1px solid #002f6c;
}
.inner-header ul a {
  color: #002f6c;
  text-decoration: none;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.languageSelector {
  width: auto;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.languageSelector div {
  margin: 0;
  font-size: 14px;
}
.languageSelector div button {
  color: #002f6c;
  margin: 3px;
  width: auto;
  background-color: transparent;
  border: none;
  outline: none;
}
.languageSelector div span {
  color: #002f6c;
}

.languageSelectorMobile {
  width: auto;
  height: auto !important;
}
.languageSelectorMobile div button {
  color: rgb(255, 255, 255);
}
.languageSelectorMobile div span {
  color: white;
}

.langTr.selected {
  color: red !important;
  border-bottom: 1px solid red;
}

.langEn.selected {
  color: blue !important;
  border-bottom: 1px solid blue;
}

.pageActive2 {
  background-color: rgba(255, 255, 255, 0.12);
  border-bottom: 1px solid white;
}

.pageActive {
  background-color: rgba(0, 47, 108, 0.12);
  border-bottom: 1px solid #002f6c;
}

.header-2 {
  background-color: #002f6c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header-2 .menu-item-li:hover {
  background-color: rgba(255, 255, 255, 0.12);
  border-bottom: 1px solid white;
}
.header-2 .menu-item-link {
  color: white;
}
.header-2 .languageSelector a {
  color: white;
}
.header-2 .languageSelector span {
  color: white;
}
.header-2 .hamburger-line {
  background-color: white;
}
.header-2 .languageSelector button {
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hamburger-line-white {
  background-color: white !important;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 999;
}

.hamburger-line {
  margin: 2px;
  width: 25px;
  height: 3px;
  background-color: #002f6c;
  transition: transform 0.3s;
}

.hamburger-menu.open .hamburger-line:nth-child(1) {
  transform: rotate(-45deg) translate(-2px, 2px);
  margin: 0;
}

.hamburger-menu.open .hamburger-line:nth-child(2) {
  opacity: 0;
  margin: 0;
}

.hamburger-menu.open .hamburger-line:nth-child(3) {
  transform: rotate(45deg) translate(-2px, -2px);
  margin: 0;
}

/* Pop-up stil ayarları */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam siyah bir arka plan */
  z-index: 998;
}

.popup.show {
  display: block;
}

.menu {
  position: absolute;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #002f6c;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%); /* Başlangıçta sol tarafta gizli olacak */
  transition: transform 0.3s ease; /* Geçiş efekti ekleyecek */
}
.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
.menu li {
  margin-bottom: 50px;
}
.menu a {
  color: white;
  text-decoration: none !important;
  font-size: 20px;
}
.menu a:hover {
  color: white;
  padding-bottom: 3px;
  border-bottom: 1px solid white;
}

.menu.showw {
  transform: translateX(0); /* Pop-up'ı görünür hale getirecek */
}

@media screen and (max-width: 800px) {
  .languageSelectorMobile {
    display: inline-flex !important;
  }
  .header {
    height: 60px;
  }
  .inner-header .logo-wrapper {
    width: 110px;
  }
  .navigation {
    display: none;
  }
  .languageSelector {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
}
.aboutus-wrapper {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 50px;
  text-align: center;
  color: white;
  background-color: #002f6c;
}
.aboutus-wrapper .aboutus-heading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.aboutus-wrapper .aboutus-heading h6 {
  font-size: 20px;
}
.aboutus-wrapper .aboutus-heading h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
.aboutus-wrapper .aboutus-heading p {
  font-size: 18px;
  text-align: justify;
  font-weight: 300;
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}
.services-wrapper .services-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.services-wrapper .services-heading h6 {
  font-size: 20px;
}
.services-wrapper .services-heading h2 {
  font-size: 40px;
  margin-bottom: 30px;
}
.services-wrapper .services-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.services-wrapper .services-body .services-item {
  width: 45%;
  margin-bottom: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-wrapper .services-body .services-item i {
  font-size: 50px;
  margin-bottom: 20px;
  color: black;
}
.services-wrapper .services-body .services-item p {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}
.services-wrapper .services-body .services-item h6 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .services-item {
    width: 100% !important;
  }
}
.products-wrapper {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: auto;
  font-family: "Inter", sans-serif;
}
.products-wrapper .products-heading {
  width: 100%;
  text-align: center;
}
.products-wrapper .products-heading h6 {
  font-size: 20px;
}
.products-wrapper .products-heading h2 {
  font-size: 40px;
}
.products-wrapper .products-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: 1px solid red;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  border: 1px solid red !important;
  width: 20%;
  height: auto;
}

.carousel-inner {
  padding: 1em;
}

.carousel-heading {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.carousel-heading h3 {
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.carousel-heading hr {
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: black;
  width: 5vh !important;
  height: 5vh !important;
  display: flex;
  border-radius: 50%;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%);
}

@media (min-width: 800px) {
  .card img {
    height: 11em;
  }
}
@media (max-width: 800px) {
  .products-wrapper {
    padding: 0;
  }
  .card {
    width: 100% !important;
  }
}/*# sourceMappingURL=index.css.map */