$primary-color: #002f6c;
$second-color: #224573;
$third-color: #0069f2;
$fourth-color: #4993f4;
$fifth-color: #003273;
$text-color: white;
$font-family: "Inter", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$heading1: 51px;
$heading2: 40px;
$caption: 20px;
$paragraph: 18px;
$menu: 16px;

$paragraph-weight: 300;
